* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: #444;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  margin: auto;
  min-height: 100vh;
  padding: 3.5rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 0 1.5rem;
  text-align: center;
}

img {
  height: 16rem;
}

.engineer-desktop {
  display: none;
}

p {
  line-height: 1.5;
  margin-bottom: 1rem;
  max-width: 75ch;
  padding: 0 1rem;
}

div {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

div a {
  color: white;
  text-decoration: none;
}

@media (min-width: 30rem) {
  .engineer-desktop {
    display: unset;
  }

  .engineer-mobile {
    display: none;
  }
}
